<ol class="breadcrumb">
    <li>
        <a href="/servers">服务列表</a>
    </li>
    <li class="active">添加服务器</li>
</ol>
<button type="submit" ng-click="saveServer()" class="btn btn-danger pull-right">保存</button>
<form class="form" role="form">

    <div class="form-group">
        <input type="text" ng-show="false" ng-model="server.id" ng-disabled="true" class="form-control"
               placeholder="Input...">
    </div>
    <div class="form-group">
        <label>服务器编码</label>
        <input type="text" class="form-control" ng-model="server.code" placeholder="Input...">
    </div>
    <div class="form-group">
        <label>服务器用途</label>
        <input type="text" class="form-control" ng-model="server.desc" placeholder="Input...">
    </div>
    <div class="form-group">
        <label>服务器配置</label>
        <button class="btn btn-primary pull-right" ng-click="addConfig()"><span class="glyphicon glyphicon-plus"></span>添加
        </button>
        <div class="container">
        <div class="row" ng-repeat="confitem in server.configuration">

            <div class="col-md-5">

                <input type="text" ng-model="confitem.key" class="form-control" placeholder="Input...">
            </div>
            <div class="col-md-5">
                    <input type="text" ng-model="confitem.value" class="form-control" placeholder="Input...">
            </div>
            <div class="col-md-2" style="padding-top: 5px;">
                <a  ng-click="removeconf($index)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>


        </div>

    </div>
        </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <td>
                <div class="form-group ">
                    <label>管理员帐号</label>
                    <input type="text" ng-model="server.username" class="form-control" placeholder="Input...">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>管理员密码</label>
                    <input type="text" ng-model="server.password" class="form-control" placeholder="Input...">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>拥有者</label>
                    <select name="name" ng-model="server.owner" class="form-control">
                        <option value=""> -- 选择 --</option>
                        <option value="{{owner}}" ng-repeat="  owner in owners">{{owner.label}}</option>

                    </select>
                </div>
            </td>
        </tr>
        </thead>
    </table>

    <div class="form-group">
        <label>备注(其他)</label>
        <textarea ng-model="server.remark" class="form-control" rows="5"></textarea>
    </div>


    <button type="submit" ng-click="saveServer()" class="btn btn-primary pull-right">保存</button>
</form>
